body{
    font-family: Arial, Helvetica, sans-serif;
}

.pre-header{
    background-color: black;
    height: 35px;
}

nav ul li{
    display: inline;
    margin-right: 35px;
}

.item-navbar{
    width: 78%;
}



.search-container{
   font-size: 25px;
}

.dropdown-container{
    width: 10px;
    display: inline-block;
}

.sony-container{
    width: 100px;
}

.logo-play{
    width: 100px;
}

.jumbotron{
    background:url('../img/jumbo-bg.png') center no-repeat;
    background-size: cover;
    margin-top: 111px;
    height: 80vh;
}

.container-fluid{
height: 100%;
}

.jumbo-content{
    height: 100%;
}

.returnal-logo{
    width: 50%;
}

p{
    margin-bottom: 0;
}

.button{
    border-radius: 40px;
    border: none;
    font-size: 12px;
    padding: 8px;
    font-weight: bold;
}

.button-jumbo{
    background-color: rgb(240, 77, 13);
    width: 100px;
    color: white;
}

.console-img img{
    border-radius: 20px;
}

.text-grey{
    color:rgb(100, 100, 100);
}


.console-ps5{
    width: 200px;
}

.button-section-console-ps5{
    background-color: rgb(34, 54, 235);
    color: white;
}

.takes-two{
    background: url('../img/it-takes-two-hero-banner-desktop.jpg') center no-repeat;
    background-size: cover;
}

.takes-two-logo{
    width: 60%;
}

.nuove-uscite{
    background-color: rgb(36, 29, 29);
}

.nuove-uscite .item img{
    border-radius: 20px;
}

h4{
    margin: 0;
}

.button-section-play-4{
    background-color: rgb(34, 54, 235);
    width: 100px;
    color: white;
}

.erre-commerciale{
    font-size: 20px;
    vertical-align: text-top;
    position: relative;
    right: 10px;
}

.plus-logo{
    width: 350px;
    display: inline-block;
} 

h2{
    display: inline-block;
}

.play-plus{
    background-color: rgba(129, 120, 120, 0.644);
}

.btn-plus{
    color: rgb(34, 54, 235);
    width: 200px;
    background-color: lightgrey;
}

.img-plus-container{   
    width: 100%;
    height: 100%;
}

.zio{
    position: relative;
    top: 0;
    bottom: 0;
}

.play-now{
    background-color: rgb(25, 25, 54);
}

 .logo-now{
    width: 350px;
} 

.btn-now{
    width: 250px;
    color: black;
    background-color: white;
}

.avengers-container{
    width: 80%;
    display: inline-block;
}

footer{
    background-color: rgb(6, 110, 179);
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.ps-footer-container{
    width: 150px;
}

.sony-entertainment-container{
    width: 150px;
}

footer a{
    color: white;
}
